body {
    font: 14px '宋体', 'Arial Narrow', HELVETICA;

    color: #172c45;
}

.hd h2 {
    font-size: 14px;

    color: #0873c0;
}

.hd h2 a {
    font-size: 14px;

    color: #0873c0;
}

.bd h3 a {
    font-size: 14px;
    line-height: 26px;

    color: #0873c0;
}

a {
    text-decoration: none;
}

a:link {
    color: #172c45;
}

a:hover {
    text-decoration: underline;

    color: red;
}

ul, h3 {
    margin: 0;
    padding: 0;
}

li {
    line-height: 28px;

    height: 28px;
    margin: 0;

    list-style: none outside none;
}

div {
    display: block;
}

/*导航样式*/
.navBeta {
    font-family: 'STHeiti', 'Microsoft YaHei', '宋体', 'arial';
    font-size: 14px;
    line-height: 22px;

    width: 988px;
    height: 57px;
    margin: auto;
    padding: 8px 0 0 12px;

    color: #fff;
    background: url(chanelNavBeta2.jpg) no-repeat;
}

.navBeta a {
    margin-right: 4px;
    margin-left: 3px;
    padding: 3px;

    color: #fff;
}

.navBeta a:hover {
    text-decoration: none;

    color: #0d519c;
    background: #cae1ee;
}

.navBeta div {
    line-height: 22px;

    height: 25px;

    text-align: left;
}

.navBetaInner div {
    display: block;
    float: left;

    width: 126px;
    padding: 0 10px 0 10px;
}












.newsContent ul li {
    font-size: 14px;

    float: left;
    overflow: hidden;

    width: 100%;

    color: #8191a3;
}

.newsContent h3 a {
    font-size: 14px;
    line-height: 26px;

    color: #0873c0;
}

#newsQuanguoH2, #newsDifangH2 {
    font-size: 14px;
    font-weight: bold;
    line-height: 28px;

    display: block;
    float: left;
    overflow: hidden;

    width: auto;
    height: 30px;
    margin-top: 0;
    padding: 3px 18px 0;

    text-align: left;
    text-indent: 0;

    color: #0873c0;
}

.layoutLeft, .leftNews, .layoutRight {
    height: 970px;
}

.leftAreaContent .hd {
    width: 100%;
    height: 29px;

    border-top: 1px solid #c8dcf2;
}















.contentLayout {
    overflow: hidden;

    width: 1000px;
    margin: 12px auto 0;
}

.contentLayout .contentModBig {
    overflow: hidden;
}

.contentMod {
    float: left;

    width: 320px;
}

.contentModBig {
    width: 660px;
}


.contentMod .bd ul li {
    line-height: 28px;

    overflow: hidden;

    height: 28px;
}

.bd .contentLeft {
    overflow: hidden;
}

.bd .contentRight {
    overflow: hidden;
}

.contentMod .bd .contentLeft {
    display: inline;
    float: left;

    width: 320px;
    padding: 17px 0 0;
}

.contentMod .bd .contentRight {
    display: inline;
    float: right;

    width: 320px;
    padding: 17px 0 0;
}

.contentMod .bd .contentLeft ul {
    float: left;

    margin-top: 8px;
}

.contentMod .bd ul li {
    font-size: 14px;

    float: left;
    overflow: hidden;

    width: 100%;

    color: #8191a3;
}

.bd {
    overflow: hidden;
}

#contentLayout .hd {
    position: relative;

    width: 100%;
    height: 29px;

    border-top: 1px solid #6daaea;
}

.contentLayout:after {
    display: table;
    clear: both;

    content: '';
}



#sportsNba .bd .contentLeft {
    float: left;

    width: 320px;
    padding: 17px 0 0;
}

#sportsNba .bd .contentLeft ul li {
    line-height: 28px;

    float: left;

    width: 100%;
    height: 28px;
}

#sportsNba .bd .contentRight, #sportsNba .bd .contentRightNba {
    float: left;

    width: 320px;
    padding: 9px 0 0 20px;
}





#book .bd .imgArea {
    display: inline;
    float: left;
    overflow: hidden;

    width: 85px;
    height: 110px;
    margin: 0 20px 0 auto;
}






.fl {
    display: inline;
    float: left;
}

.fr {
    display: inline;
    float: right;
}

.layout {
    overflow: hidden;

    width: 1000px;
    margin: auto;
}

.mt12 {
    margin-top: 12px;
}

.leftAreaContent .bd {
    width: 320px;
    padding: 16px 0 8px;
}

.leftAreaContent .ft {
    clear: both;

    width: 320px;
}

.leftArea {
    float: left;

    width: 660px;
}

.rightArea {
    float: right;

    width: 318px;
}

.imgArea {
    float: left;

    width: 108px;
    height: 70px;
}

.txtArea {
    float: right;

    width: 182px;
    padding: 5px 15px 0 0;
}

#qqMeishi .hd {
    border-top: 1px solid #6daaea;
}

#arealife .hd {
    border-top: 1px solid #6daaea;
}

#tencentinfor .hd {
    border-top: 1px solid #6daaea;
}

.txDynamic .hd {
    float: left;

    width: 305px;
    padding: 8px 15px 7px 0;
}

.txDynamic .bd {
    float: left;

    width: 310px;
    padding: 3px 10px 9px 0;
}

.picFocus {
    width: 1000px;
}

.picFocus .hd {
    width: 1000px;
}


/*底部样式*/
.footernew {
    font-size: 12px;

    overflow: hidden;

    text-align: center;
}

.footernew a.lchot {
    color: red;
}

.footernewplat {
    font-size: 12px;

    margin: auto;
}

.footernewplat p {
    float: left;

    width: 120px;
    height: 50px;
    margin: 6px;
    padding: 0;

    text-align: center;

    border: 1px solid;
}

.footernewplat .fl {
    float: left;

    padding: 3px;
}

.footernewplat .fr {
    line-height: 20px;

    float: right;

    width: 72px;
    padding: 6px 3px 0;
}
